body{
  overflow: hidden;
}
.worldmap-container{
  background-color: #000;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#mapHighres{
  display: none;
}
.worldmap {
  width: auto;
}
#Boussole {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: auto;
}
#LeaveStory {
  color: white;
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 1.3rem;
  bottom: 2.3rem;
  right: 1.2rem;
  text-align: center;
  text-shadow: 1px 0 0 #000,
                1px 1px 0 #000,
                0 1px 0 #000,
                -1px 1px 0 #000,
                -1px 0 0 #000,
                -1px -1px 0 #000,
                0 -1px 0 #000,
                1px -1px 0 #000;
  text-decoration: none;
}
