@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.statsBar{
  margin-top: 1rem;
}
.statsBar p{
  margin-bottom: 0rem;
}
.skillbar {
  font-family: 'Open Sans', 'sans-serif';
	position:relative;
	display:block;
	margin-bottom:5px;
	width:100%;
	background:#444444;
	height:35px;
	border-radius:3px;
	transition:0.4s linear;
	transition-property:width, background-color;
  padding-left: 10px;
  padding: 3px;
  overflow-x: hidden;
}

.skillbar-title {
	position:relative;
  vertical-align: top;
	top:0;
	left:0;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	background:#444444;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
  display: inline-block;
}

.skillbar-title span {
  display: block;
  padding: 0 5px;
  height: 35px;
  line-height: 25px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 50px;
  text-align: center;
}

.skillbar-bar {
	height:100%;
	width: 0px;
  background-image: url('../img/skillbarTexture.png');
  background-position: 0 3px;
  background-size: 1px 17px;
  background-repeat: repeat-x;
	border-radius:3px;
  display: inline-block;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:1rem;
	height:35px;
	line-height:35px;
	color:#FFF;
  text-shadow: 0 0 1px Black;
}
.skillbar-playerPV{
  background-color: #1a8f10;
}
.skillbar-playerMana{
  background-color: #246080;
}
.skillbar-monsterPV{
  background-color: #B30C1B;
}
